@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Hover effect for links */
a[href="/contact"] {
  transition: color 0.3s ease;
}

a[href="/contact"]:hover {
  color: #ff8c42 !important;
}
